@tailwind base;
@tailwind components;
@tailwind utilities;

/*...........................................................................................
//.....GGGGGGG....EEEEEEEEEEE.NNNN...NNNN..EEEEEEEEEEE.RRRRRRRRRR......AAAAA.....LLLL........
//...GGGGGGGGGG...EEEEEEEEEEE.NNNNN..NNNN..EEEEEEEEEEE.RRRRRRRRRRR.....AAAAA.....LLLL........
//..GGGGGGGGGGGG..EEEEEEEEEEE.NNNNN..NNNN..EEEEEEEEEEE.RRRRRRRRRRR....AAAAAA.....LLLL........
//..GGGGG..GGGGG..EEEE........NNNNNN.NNNN..EEEE........RRRR...RRRRR...AAAAAAA....LLLL........
//.GGGGG....GGG...EEEE........NNNNNN.NNNN..EEEE........RRRR...RRRRR..AAAAAAAA....LLLL........
//.GGGG...........EEEEEEEEEE..NNNNNNNNNNN..EEEEEEEEEE..RRRRRRRRRRR...AAAAAAAA....LLLL........
//.GGGG..GGGGGGGG.EEEEEEEEEE..NNNNNNNNNNN..EEEEEEEEEE..RRRRRRRRRRR...AAAA.AAAA...LLLL........
//.GGGG..GGGGGGGG.EEEEEEEEEE..NNNNNNNNNNN..EEEEEEEEEE..RRRRRRRR.....AAAAAAAAAA...LLLL........
//.GGGGG.GGGGGGGG.EEEE........NNNNNNNNNNN..EEEE........RRRR.RRRR....AAAAAAAAAAA..LLLL........
//..GGGGG....GGGG.EEEE........NNNN.NNNNNN..EEEE........RRRR..RRRR...AAAAAAAAAAA..LLLL........
//..GGGGGGGGGGGG..EEEEEEEEEEE.NNNN..NNNNN..EEEEEEEEEEE.RRRR..RRRRR.RAAA....AAAA..LLLLLLLLLL..
//...GGGGGGGGGG...EEEEEEEEEEE.NNNN..NNNNN..EEEEEEEEEEE.RRRR...RRRRRRAAA.....AAAA.LLLLLLLLLL..
//.....GGGGGGG....EEEEEEEEEEE.NNNN...NNNN..EEEEEEEEEEE.RRRR....RRRRRAAA.....AAAA.LLLLLLLLLL..
//...........................................................................................*/

.disable-link {
  pointer-events: none;
}

/*..............................................................
//.TTTTTTTTTTT..OOOOOOO........AAAA.......SSSSSSS...SSTTTTTTTT..
//.TTTTTTTTTTT.OOOOOOOOOO.....AAAAAA.....SSSSSSSSS..SSTTTTTTTT..
//.TTTTTTTTTTTOOOOOOOOOOOO....AAAAAA....ASSSSSSSSSS.SSTTTTTTTT..
//....TTTT...TOOOO...OOOOO....AAAAAAA...ASSS...SSSS.....TTTT....
//....TTTT...TOOO.....OOOOO..AAAAAAAA...ASSSS...........TTTT....
//....TTTT...TOOO......OOOO..AAAAAAAA....SSSSSSS........TTTT....
//....TTTT...TOOO......OOOO..AAAA.AAAA....SSSSSSSS......TTTT....
//....TTTT...TOOO......OOOO.AAAAAAAAAA......SSSSSSS.....TTTT....
//....TTTT...TOOO.....OOOOO.AAAAAAAAAAA........SSSSS....TTTT....
//....TTTT...TOOOOO..OOOOO.OAAAAAAAAAAA.ASSS...SSSSS....TTTT....
//....TTTT....OOOOOOOOOOOO.OAAA....AAAA.ASSSSSSSSSS.....TTTT....
//....TTTT.....OOOOOOOOOO..OAAA....AAAAA.SSSSSSSSSS.....TTTT....
//....TTTT......OOOOOOO...OOAAA.....AAAA..SSSSSSS.......TTTT....
//..............................................................*/

#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 10px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__msg {
  font-size: 16px;
  color: #222222;
  line-height: 1.5;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

/*........................................................................................................
//.PPPPPPPPP...PRRRRRRRRR.....OOOOOOO........GGGGGGG....GRRRRRRRRR...REEEEEEEEEE..SSSSSSS.....SSSSSSS.....
//.PPPPPPPPPP..PRRRRRRRRRR...OOOOOOOOOO....GGGGGGGGGG...GRRRRRRRRRR..REEEEEEEEEE.ESSSSSSSS...SSSSSSSSS....
//.PPPPPPPPPPP.PRRRRRRRRRR..ROOOOOOOOOOO..OGGGGGGGGGGG..GRRRRRRRRRR..REEEEEEEEEE.ESSSSSSSSS..SSSSSSSSSS...
//.PPPP...PPPP.PRRR...RRRRR.ROOOO..OOOOO..OGGGG..GGGGG..GRRR...RRRRR.REEE.......EESSS..SSSS.SSSSS..SSSS...
//.PPPP...PPPP.PRRR...RRRRRRROOO....OOOOOOOGGG....GGG...GRRR...RRRRR.REEE.......EESSS.......SSSSS.........
//.PPPPPPPPPPP.PRRRRRRRRRR.RROO......OOOOOOGG...........GRRRRRRRRRR..REEEEEEEEE..ESSSSSS.....SSSSSSS......
//.PPPPPPPPPP..PRRRRRRRRRR.RROO......OOOOOOGG..GGGGGGGG.GRRRRRRRRRR..REEEEEEEEE...SSSSSSSSS...SSSSSSSSS...
//.PPPPPPPPP...PRRRRRRR....RROO......OOOOOOGG..GGGGGGGG.GRRRRRRR.....REEEEEEEEE.....SSSSSSS.....SSSSSSS...
//.PPPP........PRRR.RRRR...RROOO....OOOOOOOGGG.GGGGGGGG.GRRR.RRRR....REEE..............SSSSS.......SSSSS..
//.PPPP........PRRR..RRRR...ROOOO..OOOOO..OGGGG....GGGG.GRRR..RRRR...REEE.......EESS....SSSSSSSS....SSSS..
//.PPPP........PRRR..RRRRR..ROOOOOOOOOOO..OGGGGGGGGGGG..GRRR..RRRRR..REEEEEEEEEEEESSSSSSSSSSSSSSSSSSSSSS..
//.PPPP........PRRR...RRRRR..OOOOOOOOOO....GGGGGGGGGG...GRRR...RRRRR.REEEEEEEEEE.ESSSSSSSSS..SSSSSSSSSS...
//.PPPP........PRRR....RRRR....OOOOOO........GGGGGGG....GRRR....RRRR.REEEEEEEEEE..SSSSSSSS....SSSSSSSS....
//......................................................................................................*/
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  bottom: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
