@import "tailwindcss";

@plugin '@tailwindcss/forms';

@variant dark (&:is(.dark *));

/* @theme {
  --animate-dropdown: dropdown 0.5s;
  @keyframes dropdown {
    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
} */

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.disable-link {
  pointer-events: none;
}
